<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Space Debris: <span>{{amount('space debris')}}</span></div>
   <div>Communication: <span>{{amount('communication')}}</span></div>
   <div>Probe: <span>{{amount('probe')}}</span></div>
   <div>Positioning: <span>{{amount('positioning')}}</span></div>
   <div>Space Station: <span>{{amount('space station')}}</span></div>
   <div>Telescope: <span>{{amount('telescope')}}</span></div>
</div>
